.footer {
    background-color: $neutralDark;
    color: $mainFont;
    &__container {
        margin: 0 auto;
        border: 1px solid red;
        padding: 24px 0;
        max-width: 1336px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 60px;
        height: 60px;
        line-height: 50px;
        text-align: center;
        font-size: 36px;
        margin-right: 30px;
        border: 2px solid $mainFont;
        border-radius: 50%;
    }
}