/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif; }

p {
  font-family: 'EB Garamond', serif;
  font-size: 16px; }

a {
  text-decoration: none;
  color: inherit; }

.header {
  width: 100%;
  min-height: 100vh;
  background-image: url("./../assets/main-img.jpg");
  background-size: cover;
  margin-bottom: 120px; }
  .header__container {
    margin: 0 auto 144px;
    max-width: 1280px;
    padding-top: 24px;
    color: #F7F8FA;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .logo__icon {
    width: 50px;
    height: 50px;
    line-height: 44px;
    text-align: center;
    font-size: 30px;
    margin-right: 30px;
    border: 2px solid #F7F8FA;
    border-radius: 50%; }
  .logo__title {
    letter-spacing: 6px;
    font-size: 18px; }

.navigation__item {
  font-size: 18px;
  margin-left: 22px;
  letter-spacing: 1.4px;
  transition: color .2s ease; }
  .navigation__item:hover {
    color: #d1d4d5; }

.hero {
  height: calc(100vh - 420px);
  max-width: 1112px;
  text-align: left;
  margin: 0 auto 100px;
  color: #F7F8FA; }
  .hero__subheading {
    text-transform: uppercase;
    color: #F7F8FA;
    font-size: 30px;
    letter-spacing: 1.6px;
    margin-bottom: 22px; }
  .hero__heading {
    text-transform: uppercase;
    color: #F7F8FA;
    font-weight: 900;
    font-size: 142px;
    letter-spacing: -9px;
    margin-bottom: 46px;
    margin-left: -10px; }
  .hero__paragraph {
    width: 800px;
    line-height: 24px;
    margin-bottom: 50px; }

.button-action {
  color: #F7F8FA;
  border: 2px solid #F7F8FA;
  background: none;
  width: 226px;
  height: 46px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 16px;
  transition: background-color .2s ease; }
  .button-action:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer; }

.see-more {
  letter-spacing: -.6px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #F7F8FA;
  margin: 0 auto; }

.content {
  max-width: 1112px;
  padding: 0 120px;
  margin: 0 auto 166px;
  text-align: center; }
  .content__heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 78px;
    letter-spacing: -2px;
    color: #00427C;
    margin-bottom: 24px; }
  .content__subheading {
    text-transform: uppercase;
    font-size: 20px;
    color: #1a262f;
    letter-spacing: 1px;
    margin-bottom: 28px; }
  .content__paragraph {
    color: #000000;
    line-height: 24px;
    font-size: 16px; }

.gallery {
  margin-bottom: 120px;
  background-color: #F7F8FA; }
  .gallery__container {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-items: flex-start;
    justify-content: center; }

.image-viewer {
  width: 56%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .image-viewer__picture {
    width: 100%;
    height: 480px;
    object-fit: cover;
    margin: 0 auto;
    box-shadow: 4px 4px #d1d4d5; }
  .image-viewer__thumbnails {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0; }
  .image-viewer__thumbnails--item {
    object-fit: cover;
    margin: 0 10px;
    max-width: 100px;
    height: 78px;
    opacity: .7;
    transition: .3s; }
    .image-viewer__thumbnails--item:hover {
      opacity: 1;
      cursor: pointer; }

.active {
  transform: scale(1.1);
  opacity: 1;
  border: 2px solid #d1d4d5; }

.buttons-container {
  position: absolute;
  top: 440px;
  right: -40px;
  display: flex;
  justify-content: center; }
  .buttons-container__button {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #00427C;
    color: #F7F8FA; }
    .buttons-container__button:hover {
      cursor: pointer;
      color: #d1d4d5; }

.aside-content {
  width: 44%;
  padding: 92px 120px; }
  .aside-content__heading {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -2px;
    color: #00427C;
    margin-bottom: 28px; }
  .aside-content__paragraph {
    width: 320px;
    color: #000000;
    line-height: 24px; }

.bonus-content {
  max-width: 1280px;
  padding-right: 200px;
  margin: 0 auto;
  text-align: left; }
  .bonus-content__heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 78px;
    letter-spacing: -2px;
    color: #00427C;
    margin-bottom: 28px; }
  .bonus-content__subheading {
    text-transform: uppercase;
    font-size: 20px;
    color: #1a262f;
    letter-spacing: 1px;
    margin-bottom: 24px; }
  .bonus-content__paragraph {
    color: #000000;
    line-height: 24px;
    padding-bottom: 18px; }

.footer {
  background-color: #1a262f;
  color: #F7F8FA; }
  .footer__container {
    margin: 0 auto;
    padding: 24px 0;
    max-width: 1280px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }

.footer-logo {
  width: 60px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  font-size: 36px;
  margin-right: auto;
  border: 2px solid #F7F8FA;
  border-radius: 50%;
  transition: all .3s; }
  .footer-logo:hover {
    color: #00427C;
    font-weight: 700;
    background-color: #d1d4d5;
    cursor: pointer; }

.copyright {
  margin-left: 22px;
  color: #d1d4d5; }
