@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

p {
  padding-top: 20px;
  font-size: 17px;
  font-family: 'EB Garamond', serif;
  line-height: 24px; }

h1, h2, h3 {
  font-weight: 900;
  text-transform: uppercase;
  color: #004777;
  margin: 0 0 20px; }

.button {
  border: 2px solid #F7F8FA;
  color: #F7F8FA;
  letter-spacing: 2px;
  cursor: pointer;
  background: none;
  padding: 16px 18px;
  font-size: 16px; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

img {
  object-fit: cover;
  width: 100%; }
  img.image-big {
    box-shadow: 4px 4px #d1d4d5;
    height: 600px; }
  img.thumbnails--item {
    max-width: 100px;
    height: 78px;
    margin: 0 10px;
    opacity: .6;
    transition: .3s;
    box-shadow: 2px 2px #d1d4d5; }
    img.thumbnails--item:hover {
      opacity: 1;
      cursor: pointer; }
    img.thumbnails--item:first-child {
      margin-left: 0; }
    img.thumbnails--item:last-child {
      margin-right: 0; }
  img.current {
    transform: scale(1.2);
    opacity: 1;
    border: 2px solid #aaa; }

.arrow {
  bottom: 118px;
  right: -40px;
  position: absolute;
  display: flex; }
  .arrow__item {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #F7F8FA;
    background-color: #003355; }
    .arrow__item:hover {
      box-shadow: 2px 2px #d1d4d5;
      background-color: #004777;
      cursor: pointer; }

.gallery__second .arrow {
  left: -40px; }

@media screen and (max-width: 770px) {
  .arrow {
    right: 0; }
  .gallery__second .arrow {
    left: 0; } }

.logo {
  color: #F7F8FA;
  display: flex;
  align-items: center; }
  .logo__icon {
    width: 48px;
    height: 48px;
    line-height: 44px;
    text-align: center;
    border: 2px solid #F7F8FA;
    border-radius: 50%;
    font-size: 28px; }
    .logo__icon--footer-mod {
      width: 64px;
      height: 64px;
      line-height: 58px;
      font-size: 40px; }
      .logo__icon--footer-mod:hover {
        color: #aaa;
        border-color: #aaa; }
  .logo__brand {
    margin-left: 20px;
    letter-spacing: 8px;
    font-size: 20px; }

#hero nav > a,
#footer nav > a {
  color: #F7F8FA;
  display: inline-block;
  padding-left: 28px;
  font-size: 18px;
  letter-spacing: 2px; }
  #hero nav > a:hover,
  #footer nav > a:hover {
    color: #d1d4d5; }

@media screen and (max-width: 770px) {
  #hero nav {
    display: none; }
  #footer nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #footer nav > a {
      padding: 10px 0; } }

#header {
  background-image: linear-gradient(rgba(0, 66, 123, 0.8), rgba(0, 66, 123, 0)); }
  #header > .container {
    padding: 26px 0;
    width: 1336px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

#hero {
  height: 100vh;
  background-image: url("./../assets/main-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #F7F8FA;
  margin-bottom: 116px;
  overflow: hidden; }
  #hero > .container {
    position: relative;
    padding: 160px 10px;
    width: 1100px;
    height: calc(100vh - 100px); }
    #hero > .container > h2 {
      font-size: 30px;
      font-weight: 400;
      color: #F7F8FA; }
    #hero > .container > h1 {
      font-size: 178px;
      letter-spacing: -10px;
      color: #F7F8FA; }
    #hero > .container > p {
      font-size: 17px;
      width: 70%;
      padding: 40px 0;
      text-align: left; }
    #hero > .container > .see-more {
      text-align: center;
      position: absolute;
      bottom: 3%;
      left: 47%;
      line-height: 24px; }

@media screen and (max-width: 770px) {
  #hero > .container > h1 {
    font-size: 76px;
    letter-spacing: -2px; } }

#content,
#bonus-content {
  margin-bottom: 116px; }
  #content > .container > h2,
  #bonus-content > .container > h2 {
    font-size: 76px; }
  #content > .container > h3,
  #bonus-content > .container > h3 {
    font-size: 20px;
    font-weight: 400;
    color: #1a262f; }

#content > .container {
  max-width: 960px;
  text-align: center; }

#bonus-content > .container {
  max-width: 1376px;
  text-align: left;
  padding: 0 200px 0 20px; }

@media screen and (max-width: 770px) {
  #content > .container > h2,
  #bonus-content > .container > h2 {
    font-size: 48px; } }

.gallery {
  background-color: #F7F8FA;
  margin-bottom: 116px; }
  .gallery > .container {
    max-width: 1376px;
    display: flex;
    align-items: flex-start; }
    .gallery > .container > .img-viewer {
      width: 58%;
      position: relative; }
      .gallery > .container > .img-viewer > .thumbnails {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding: 20px 0; }
    .gallery > .container > aside {
      width: 42%;
      padding: 86px 126px; }
      .gallery > .container > aside > h2 {
        font-size: 48px; }
  .gallery__second > .container > aside {
    padding-left: 20px;
    padding-right: 172px; }

@media screen and (max-width: 770px) {
  .gallery > .container {
    flex-direction: column; }
    .gallery > .container > .img-viewer {
      width: 100%; }
    .gallery > .container > aside {
      width: 100%;
      padding-left: 10px;
      padding-right: 20%; } }

#footer {
  padding: 26px 0;
  background-color: #1a262f; }
  #footer > .container {
    width: 1336px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    #footer > .container > .logo {
      margin-right: auto; }
    #footer > .container > .copyright {
      margin-left: 28px;
      color: #aaa;
      font-size: 14px; }

@media screen and (max-width: 770px) {
  #footer > .container {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #footer > .container > .logo {
      margin: 0 auto 26px; }
    #footer > .container > .copyright {
      margin: 20px 0 10px; } }
