.arrow {
    bottom: 118px;
    right: -$imgNavButton;
    position: absolute;
    display: flex;
    &__item {
        width: $imgNavButton;
        height: $imgNavButton;
        line-height: $imgNavButton;
        text-align: center;
        display: block;
        color: $almostWhite;
        background-color: $button;
        &:hover {
            box-shadow: 2px 2px $greyCreme;
            background-color: $headerBlue;
            cursor: pointer;
        }
    }
}

.gallery__second .arrow {
    left: -$imgNavButton;
}

@media screen and (max-width: 770px) {
    .arrow {
        right: 0;
    }

    .gallery__second .arrow {
        left: 0;
    }
}