.button {
    border: 2px solid $almostWhite;
    color: $almostWhite;
    cursor: pointer;
    background: none;
    padding: 10px 16px;
    font-size: 16px;
    &:hover {
        background-color: rgba(255,255,255,.2);
    }
}