.logo {
  color: $almostWhite;
  display: flex;
  align-items: center;
  
  &__icon {
    width: $headerIcon;
    height: $headerIcon;
    line-height: 44px;
    text-align: center;
    border: 2px solid $almostWhite;
    border-radius: 50%;
    font-size: 28px;
    
    &--footer-mod {
      width: 64px;
      height: 64px;
      line-height: 58px;
      font-size: 40px;
      &:hover {
        color: $trueGrey;
        border-color: $trueGrey; 
      }
    }
  }
  
  &__brand {
      margin-left: 20px;
      letter-spacing: 8px;
      font-size: $headerSmall;
  }
}
