#footer {
    padding: 26px 0;
    background-color: $neutralDark;

    > .container {
        width: $bigWidth;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        > .logo {
            margin-right: auto;
        }

        > .copyright {
            margin-left: 28px;
            color: $trueGrey;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 770px) {
    #footer {
        > .container {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > .logo {
                margin: 0 auto 26px;
            }
    
            > .copyright {
                margin: 20px 0 10px;
            }
        }
    }
}