#footer {
    padding: 26px 0;
    background-color: $neutralDark;

    > .container {
        width: $bigWidth;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        > .logo {
            margin-right: auto;
        }

        > .copyright {
            margin-left: 28px;
            color: $trueGrey;
            font-size: 14px;
        }
    }
}