#header {
    background-image: linear-gradient(rgba(0, 66, 123, .8),rgba(0, 66, 123, 0)); 

    > .container {
        padding: 26px 0;
        width: $bigWidth;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}