
@import "./../../node_modules/reset-css/sass/reset";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@import "_variables";  

@import "./modules/header.scss";
@import "./modules/content.scss";
@import "./modules/gallery.scss";
@import "./modules/bonus-content.scss";
@import "./modules/footer.scss";

html {
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}