@import "./../../node_modules/reset-css/sass/reset";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

$mainFont: red;
$tempColor: limegreen;

body {
    font-family: 'Lato', sans-serif;
    background-image: url('./../assets/template.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
}

p {
    font-family: 'EB Garamond', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.top-header {
    width: 100vw;
    background-image: linear-gradient(rgba(0, 66, 123, .8),rgba(0, 66, 123, 0));
    padding-bottom: 161px;
    &__content {
        font-weight: 400;
        color: $mainFont;
        margin: 0 auto;
        max-width: 1336px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo { 
    margin: 24px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__icon {
        width: 46px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        font-size: 30px;
        margin-right: 30px;
        border: 2px solid $mainFont;
        border-radius: 50%;
    }
    &__title {
        letter-spacing: 8px;
        font-size: 20px;    
    }
}

.navigation {
    &__item {
        font-size: 20px;
        margin-left: 22px;
        letter-spacing: 1.4px;
    }
}



.title-section {
    max-width: 1112px;
    height: 820px;
    border: 1px solid lime;
    text-align: left;
    margin: 0 auto;
    position: relative;
    color: $mainFont;
    &__subheading {
        text-transform: uppercase;
        color: $mainFont;
        font-size: 30px;
        letter-spacing: 1.6px;
        margin-bottom: 20px;
    }
    &__heading {
        text-transform: uppercase;
        color: $mainFont;
        font-weight: 700;
        font-size: 182px;
        letter-spacing: -9px;
        margin-bottom: 46px;
        margin-left: -10px;
    }
    &__paragraph {
        width: 800px;
        line-height: 24px;
        margin-bottom: 48px;
    }
}

.button-action {
    color: $tempColor;
    border: 2px solid $tempColor;
    background: none;
    width: 226px;
    height: 46px;
    line-height: 46px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: 16px;
}

.see-more {
    letter-spacing: -.6px;
    text-transform: uppercase;
    display: block;
    color: limegreen;
    margin: 0 auto;
    position: absolute;
    bottom: 56px;
    left: 47%;
}